*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #e4e4e455;
}

.secciones{
    font-family: 'Bitter', serif;
}

.imagen-portada{
    width: 100%;
    /* border-radius: 100px; */
}

.containerDeParrafos{
    background-image: url("./images/FONDO-MADERA-NEGRA.png");
}

.parrafo{
    color: #ffffff;
    font-family: 'Bitter', serif;
    font-size: 20px;
    
}

.titulosobrenosotros{
    color: #ffffff;
    font-family: 'Abril Fatface', cursive;
}

.Titulo1{
    font-size: 60px;
    font-family: 'Abril Fatface', cursive;
    color: #c10000;
}

.Titulo2{
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    color: #c10000;
}

.ubicacion{
    color: #000000;
    
}